body {
    background-color: #e6f7ff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .login-container {
    max-width: 500px;
    margin: 100px auto;
    background-color: #ffffff;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
    color: #333;
  }
  
  nav {
    text-align: center;
    justify-content: space-around;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
  }
  input[type="email"] {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ddd;
    margin-top: 5px;
    box-sizing: border-box;
  }

  input[type="textarea"] {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ddd;
    margin-top: 5px;
    box-sizing: border-box;
  }
  input[type="text"],
  input[type="number"] {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ddd;
    margin-top: 5px;
    box-sizing: border-box;
  }
  
  
  
  #submit {
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 12px 20px;
    margin: 10px 0;
    width: 100%;
    cursor: pointer;
  }
  
  #submit:hover {
    background-color: #45a049;
    
  }

  .data{
    display: flex;
    width: 100vw;
    justify-content: center;
    color: #333;
  }
  
  table {
    text-align: center  ;
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#tableData{
  display: inline;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
}
td {
  margin-left: 4px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f1f1f1;
}