{% extends 'layout.html' %}

{% block title %}
  Book
{% endblock %}

{% block content %}
  <h2><a href="/form/book" class="underline-offset-4">click here,</a> to fill a form.</h2>
  <div class="data">
    <table>
      <thead>
        <tr>
          <th colspan="4">Book</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th style="border-right: 1px solid rgba(87, 87, 87, 0.29);">Title</th>
          <th style="border-right: 1px solid rgba(87, 87, 87, 0.29);">ISBN Number</th>
          <th style="border-right: 1px solid rgba(87, 87, 87, 0.29);">Discription</th>
          <th>Category</th>
        </tr>
        {% if books %}
          {% for book in books %}
            <tr>
              <td>{{ book.title }}</td>
              <td>{{ book.ISBN }}</td>
              <td>{{ book.discription }}</td>
              <td>{{ book.catagory }}</td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td></td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
{% endblock %}
