{% extends 'layout.html' %}

{% block title %}
  Home
{% endblock %}

{% block content %}
  <h2>
    welcome to web page!!
    <a href="/form">click here,</a> to fill a form.
  </h2>
  <div class="data">
    <table>
      <thead>
        <tr>
          <th colspan="5" style="border-right: 1px solid rgba(0, 0, 0, 0.29);">student</th>
          <th colspan="4">Book</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th style="border-right: 1px solid rgba(87, 87, 87, 0.29);">First Name</th>
          <th style="border-right: 1px solid rgba(87, 87, 87, 0.29);">Last Name</th>
          <th style="border-right: 1px solid rgba(87, 87, 87, 0.29);">Email</th>
          <th style="border-right: 1px solid rgba(87, 87, 87, 0.29);">Phone Number</th>
          <th style="border-right: 1px solid rgba(87, 87, 87, 0.29);">Date of creation</th>
          <th style="border-right: 1px solid rgba(87, 87, 87, 0.29);">Title</th>
          <th style="border-right: 1px solid rgba(87, 87, 87, 0.29);">ISBN Number</th>
          <th style="border-right: 1px solid rgba(87, 87, 87, 0.29);">Discription</th>
          <th>Category</th>
        </tr>
        <tr>
          <td>
            {% for student in students %}
              {% if students %}
                <tr>
                  <td>{{ student.first_name }}</td>
                  <td>{{ student.last_name }}</td>
                  <td>{{ student.email }}</td>
                  <td>{{ student.phone_number }}</td>
                  <td style="border-right: 1px solid rgba(0, 0, 0, 0.29)">{{ student.date }}</td>
                </tr>
              {% else %}
                <tr>
                  <td></td>
                </tr>
              {% endif %}
            {% endfor %}
          </td>
          <td>
            {% for book in books %}
              {% if books %}
                <tr>
                  <td>{{ book.title }}</td>
                  <td>{{ book.ISBN }}</td>
                  <td>{{ book.description }}</td>
                  <td>{{ book.category }}</td>
                </tr>
              {% else %}
                <tr>
                  <td></td>
                </tr>
              {% endif %}
            {% endfor %}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock %}
