{% extends 'addBook.html' %}

{% block title %}
  Add Books
{% endblock %}

{% block content %}
  <div class="login-container">
    <h2>Please fill the form</h2>
    <form method="POST">
      <div class="form-group">
        <label for="First Name">First Name</label>
        <input type="text" id="first_name" name="first_name" placeholder="Enter your First Name" required />
      </div>
      <div class="form-group">
        <label for="last Name">Last Name</label>
        <input type="text" id="last_name" name="last_name" placeholder="Enter your Last Name" required />
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" placeholder="Enter Email" required />
      </div>

      <div class="form-group">
        <label for="slug">Slug</label>
        <input type="text" id="slug" name="slug" placeholder="eg:we-are-live-today" required />
      </div>

      <button type="submit" id="submit">Submit</button>
    </form>
  </div>
{% endblock %}
