{% extends 'layout.html' %}

{% block title %}
  Form
{% endblock %}

{% block content %}
  <div class="login-container">
    <h2>Please fill the form</h2>
    <form method="POST">
      {% csrf_token %}
      <div class="form-group">
        <label for="First Name">First Name</label>
        <input type="text" id="first_name" name="first_name" placeholder="Enter your First Name" required />
        <label for="last Name">Last Name</label>
        <input type="text" id="last_name" name="last_name" placeholder="Enter your Last Name" required />
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Enter Email" required />
        <label for="phone_number">Phone Number</label>
        <input type="number" id="phone_number" name="phone_number" placeholder="eg: 9800000000" required />
        <label for="slug">Slug</label>
        <input type="text" id="slug" name="slug" placeholder="eg:we-are-live-today" required />
        <label for="Books">Courses</label>
        <select name="books" id="books">
          <option value="Select book" disabled>Select book</option>
          <option value="Physics">Physics</option>
          <option value="Chemisry">Chemistry</option>
          <option value="Maths">Maths</option>
          <option value="Biology">Biology</option>
          <option value="Zoology">Zoology</option>
        </select>
      </div>

      <button type="submit" id="submit">Submit</button>
    </form>
  </div>
{% endblock %}
